DATABASE_URL=postgres://postgres:password@localhost:5432/tbot?sslmode=disable


CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here

ACCESS_TOKEN=your_access_token_here

ACCOUNT_ID=12345678

DEMO=true

SYMBOL=EURUSD
SYMBOL_ID=1

RISK_PERCENT=1.0

MAX_DAILY_LOSS=2.0

STOP_LOSS_PIPS=10.0
TAKE_PROFIT_PIPS=20.0
